<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>acceder</servlet-name>
        <servlet-class>acceder</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>registrarse</servlet-name>
        <servlet-class>registrarse</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>insertar</servlet-name>
        <servlet-class>insertar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>cerrar</servlet-name>
        <servlet-class>cerrar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>borrar</servlet-name>
        <servlet-class>borrar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>mod</servlet-name>
        <servlet-class>mod</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>mod2</servlet-name>
        <servlet-class>mod2</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>acceder</servlet-name>
        <url-pattern>/acceder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>registrarse</servlet-name>
        <url-pattern>/registrarse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>insertar</servlet-name>
        <url-pattern>/insertar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cerrar</servlet-name>
        <url-pattern>/cerrar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>borrar</servlet-name>
        <url-pattern>/borrar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>mod</servlet-name>
        <url-pattern>/mod</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>mod2</servlet-name>
        <url-pattern>/mod2</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
